/* media queries */

/********BREAKPOINTS********
Moyenne résolution = 1024px
Petite résolution = 767px
****************************/

/* Format Tablette : réduction de la taille des police, des icones et de la photo */
@media screen and (max-width: 1024px) {
  body {
    width: auto;
    font-size: 1.4rem;
  }

  .nom {
    font-size: 4rem;
  }

  #apropos p {
    text-align: left;
    margin-left: 2rem;
    margin-right: 2rem;
  }

  #loisirs i {
    border: 2px solid #212121;
    border-radius: 50%;
    color: #212121;
    padding: 1.2rem;
    width: 3rem;
    height: 3rem;
  }

  img {
    width: 70%;
  }
}

/* Format smartphone : Affichage en colonne, réduction de la taille des police et des icones,
modification pour affichage de la photo */

@media screen and (max-width: 767px) {
  #blocpage {
    display: flex;
    flex-direction: column-reverse;
  }

  img {
    position: absolute;
    top: 2rem;
    right: 10%;
    width: 15%;
  }

  #partie_gauche,
  #partie_droite {
    width: auto;
  }

  #partie_droite {
    margin-left: 0rem;
  }

  #partie_gauche :nth-child(2) {
    order: 2;
  }
  #partie_gauche :nth-child(3) {
    order: 1;
  }
  #partie_gauche :nth-child(4) {
    order: 3;
  }

  .nom {
    font-size: 3rem;
  }

  .poste {
    font-size: 1.8rem;
  }

  #contact {
    height: auto;
  }
}
