/* media queries */

/********BREAKPOINTS********
Moyenne résolution = 1024px
Petite résolution = 767px
****************************/


@media screen and (max-width: 1024px)
/* réduction de la taille des police, des icones et de la photo */
{

    body
    {
        width:auto;
        font-size: 1.4rem
    }

    h1
    {
        font-size: 4rem;
    }

    #apropos p
    {
        text-align: left;
        margin-left: 2rem;
        margin-right: 2rem;
    }

    #loisirs i
    {
        border: 1.6px solid #212121;
        border-radius: 50%;
        color: #212121;
        padding: 1.2rem;
        width: 3rem;
        height: 3rem;
    }

    img
    {
        width:70%;
    }

}

@media screen and  (max-width: 767px)
/* Affichage en colonne, réduction de la taille des police et des icones,
modification pour affichage de la photo */
{
    #blocpage
    {
        display: flex;
        flex-direction: column-reverse;
    }



    img
    {
        position: absolute;
        top: 2rem;
        right: 10%;
        width: 15%;
    }

    #leftsection, #rightsection
    {
        width:auto;
    }

    #rightsection
    {
        margin-left: 0rem;
    }

    #leftsection :nth-child(2) {order: 2;}
    #leftsection :nth-child(3) {order: 1;}
    #leftsection :nth-child(4) {order: 3;}


    h1
    {
        font-size: 3rem;
    }

    h2
    {
        font-size: 1.8rem;

    }
   
    #contact
    {
        height:auto;
    }


}