/* Eléments principaux de la page */

html
{
    font-size: 62.5%
}

body
{
    font-family: 'Roboto', 'Trebuchet MS', Arial, sans-serif;
    color : #455A64;
    font-size: 1.6rem;
}

h1, h3
{
    text-transform: uppercase;
}

h3, h4
{
    font-weight: bold;
    color :#212121;
}

#blocpage
{
    display:flex;
    flex-direction: row;
}

/*leftsection - Partie gauche du CV */


img 
{
        border: 3px solid #1976D2;
        border-radius : 50%;
}

#leftsection
{
    color :#212121;
    background: #1976D2;
    display: flex;
    flex-direction: column;
    width: 30%;
    text-align: center;
}

#leftsection h3
{
    background-color: #212121;
    color: #1976D2;
}

#contact p
{
    text-align: left;
    margin-left: 4rem;
}

#apropos p
{
    text-align: justify;
    margin-left: 4rem;
    margin-right: 4rem;
}

#loisirs i
{
    border: 2px solid #212121;
    border-radius: 50%;
    color: #212121;
    padding: 1.4rem;
    width: 4rem;
    height: 4rem;
}

#contact
{
    height: 25%;
}

#apropos
{
    height: 40%;
}

/* rightsection - partie droite du CV */
/* header */

#rightsection
{
    width: 70%;
    margin-left: 6rem;
    padding-left: 0;
}

header h1 span
{
    color: #1976D2;
}

header h2 span
{
    border-bottom: 2px solid #1976D2;
}

h1
{
    font-size: 6rem;
    margin-bottom: 0;
    padding-bottom: 0;
}

h2
{
 margin-top: 0;
 margin-bottom: 6rem;   
}

/* section formation et experience */

.formation h3, .experience h3, footer h3
{
    border-bottom: 2px solid #1976D2;
    padding-bottom: 2rem;
}

.formation h3 i, .experience h3 i, footer h3 i
{
    margin-right: 4rem;
}

.formation1, .formation2, .formation3, .experience1, .experience2, .experience3
{
    display: flex;
    flex-direction: row;
}
         

.date
{
    width: 25%;
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

.date p
{
    margin-left: 1.5rem;
}

.where
{
    width: 75%;
}

#rightsection i
{
    color: #1976D2;
}


/* Footer - Recommandation */



.reco
{
    display:flex;
    flex-direction: row;
}

.reco1, .reco2
 {
     width: 50%;
 }